'.source.js,source.jsx':
  'initApp':
    'prefix': 'init'
    'body': """
      import React, { Component } from 'react';
      import { render } from 'react-dom';

      class ${1} extends React.Component {
        render(){
          ${3}
        }
      }

      render(<${1} />, document.getElementById('${2}'));
    """
  'initComponent':
    'prefix': 'initc'
    'body': """
      import React, { Component } from 'react';

      export default class ${1} extends React.Component {
        render() {
          ${2}
        }
      }
    """
  'contructor()':
    'prefix': 'initc'
    'body': """
      contructor(){
        super()
        ${1}
      }
    """
  'CSS':
    'prefix': 'css'
    'body': """
      const ${1:styles} = StyleSheet.create({
        ${2:myCSSClass}: {
          ${3:backgroundColor: 'lightgrey',}
          }),
        },
      });
    """
