'.source.js,source.jsx':
  'initApp':
    'prefix': 'init'
    'body': """
      import React, { Component } from 'react';

      class ${1} extends React.Component {
        render(){
          ${3}
        }
      }

      React.render(<${1} />, document.getElementById('${2}'));
    """
  'initComponent':
    'prefix': 'initc'
    'body': """
      import React, { Component } from 'react';

      export default class ${1} extends React.Component {
        render() {
          ${2}
        }
      }
    """
  'CSS':
    'prefix': 'css'
    'body': """
      const ${1:"styles"} = StyleSheet.create({
        ${2:"myCSSClass"}: {
          ${3:"backgroundColor: 'lightgrey'"}
          }),
        },
      });
    """
